@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');
body{
    background-color: #060A1B ;
}
header{
    background-color: black transparent;
}
.leftcontent{
    font-family: 'STIX Two Text', serif;
    color: aliceblue;
    float: left;
    width: 500px;
    padding-left: 50px;
}
h1{
    font-size: 38px;
}
.menu ul{
    float: right;
    list-style: none;
    padding-right: 50px;
}
.menu li a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.menu li a:hover{
    color: #F2F5A9;
}