<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/stile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap" rel="stylesheet">
    <title>Conciertos</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Acerca de</a>
            <a href="#">Info</a>
            <a href="#">Contactos</a>
            <a href="#">Servicos</a>
        </nav>
        <section class="textosheader">
            <h1>Conciertos</h1>
            <h2>Mira los conciertos disponibles</h2>
        </section>
        <div class="wave" style="height: 180px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C202.63,235.36 374.79,-52.78 518.12,101.14 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ffffff;"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-texto">
                    <h3><span>1</span></h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, 
                    quaerat minus! Cupiditate possimus quod repudiandae omnis. Dolorem ab eligendi, distinctio ipsum, 
                    deserunt est pariatur impedit laboriosam tenetur omnis doloribus voluptas.
                </p>
                    <h3><span>2</span></h3>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, 
                    quaerat minus! Cupiditate possimus quod repudiandae omnis. Dolorem ab eligendi, distinctio ipsum, 
                    deserunt est pariatur impedit laboriosam tenetur omnis doloribus voluptas.
                </p>
                    <h3><span>3</span></h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, 
                        quaerat minus! Cupiditate possimus quod repudiandae omnis. Dolorem ab eligendi, distinctio ipsum, 
                        deserunt est pariatur impedit laboriosam tenetur omnis doloribus voluptas.
                    </p>

                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Disponibles</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    
                    
                </div>

                
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    
                    
                </div>

                
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png" alt="">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="imagenes/concierto.png">
                        <div class="hover-galeria">
                            <img src="imagenes/cursor_PNG88.png" alt="">
                            <p>Comprar</p>
                        </div>
                    </div>
                    
                    
                </div>

                
            </div>
        </section>
    </main>
    <footer>
        <h2 class="titulo-final">&copy; ||Diego Quevedo ||Miguel Velandia ||Camilo Soler</h2>
    </footer>
</body>
</html>