<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/actualizar.js"></script>
    <script src="/js/eliminar.js"></script>
    <link rel="stylesheet" href="./usuarios.css">
    <title>Registro</title>
</head>
<body>
    <a href="/cliente">Clientes</a>
    <header><h1>Usuarios</h1></header>
    <form action="/frminsertar" method="POST" class="insertar">
    <aside>Documento</aside><input type="text" name="doccli" value="">
    <aside>Usuario</aside><input type="text" name="nomusu" value="">
    <aside>Clave</aside><input type="text" name="clave" value="">
    <aside>Rol</aside><input type="text" name="rol" value="">
    <aside>Estado</aside><input type="text" name="estado" value="">
    <aside>Imagen</aside><input type="text"name="imagen" value="">
    <br>
    <input type="submit" value="insertar" >
    </form>
</body>

</html>
