<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/cssbarraprincipal.css">
    <link rel="shortcut icon" href="../../public/estilologos/favicon.png" type="image/x-icon">
    <title>Productos y servicios</title>
</head>
<body>
    <img src="../../public/estilologos/logo.png" width="100px" aling="left">
    <ul class="menu">

        <li><a href="web.html">Inicio</a></li>
        <li><a href="formularios/somos.html">Acerca de nosotros</a></li>
        <li><a href="formularios/necesidades.html">Necesidades</a></li>
        <li><a href="formularios/forproduct.html">Productos y servicios</a></li>

    </ul>
    <h1>Productos y servicios</h1>
        <header>
            <h2>Conozca nuestros servicios que pueden de ser de gran ayuda</h2>
            <a href="javascript:history.back()"><img src="images/boton.jpg" height="33" width="100" alt="Botón"</a>
        </header>

</body>
</html>