<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssbarraprincipal.css">
    <title>¿Quienes somos?</title>
</head>
<body>
    <ul class="menu">

        <li><a href="web.html">Inicio</a></li>
        <li><a href="formularios/somos.html">Acerca de nosotros</a></li>
        <li><a href="formularios/necesidades.html">Necesidades</a></li>
        <li><a href="formularios/forproduct.html">Productos y servicios</a></li>
        <li><a href="formularios/forlogin.html">Sucursal virtual</a></li>
       
    </ul>
    <h1 class="informacion">Bank ogidotas, nuevas alternativas</h1>
    <div class="title1">
    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eligendi reprehenderit obcaecati amet ipsum, laborum modi impedit natus sit maxime in minus, perferendis libero et architecto earum, repudiandae molestias debitis?</p>
    </div>
</body>
</html>